<div id="onePost">
    <div id="commentHeader"></div>
    <div id="finishedComment">
        {{comment.comment}} 
    </div>
    <div id="commentUser">
        -- {{username}}, {{format_date date}}
    </div>
</div>