<div class="row justify-space-between-md">
    <div class="newPost-card">
        <form class="form newPost-form" id="onePost">
            <div id="newPostHeader">Create New Post</div>
            <div class="form-group">
                <label for="post-title" id="addPostTitle">Title:</label>
                <input class="form-input" type="text" id="post-title" />
            </div>
            <div class="form-group">
                <label for="post-content" id="addPostContent">Content:</label>
                <input class="form-input" type="text" id="post-content" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="comment-btn" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/newPost.js"></script>